$header_blue: #004378;
$window-head-bgc: #003366;
$b-light: #F0FAFF;

.header{
  display: flex;
  color: $b-light;
  background-color: $window-head-bgc;
  height: 38px;
  min-width: 1200px;
  padding: 9px;
}

.menu{
  margin-left: 6px;
  font-family: myriad-pro, sans-serif;
  &-link {
    font-size: 14px;
    margin-left: 15px;
    &:hover{
      cursor: pointer;
    }
  }
}

.signet-mini{
  width: 25px;
  margin-top: -3px;
  margin-left: 6px;
  &:hover{
    cursor: pointer;
  }
}

