<div class="big-container">
  <div class="banner">
    <p class="banner-title">Tutorials</p>
    <p>New here?<br/>
      Take our beginner course  «build a basic network»  to learn basics for network  building and simulation in  NetBuilder.</p>
    <p class="banner-link">Click here to start the tutorial</p>
  </div>

  <div class="content">
    <div class="content__imports">
      <div class="content__imports-button"><svg id="a5e048df-8b16-4f04-863f-3d863ae0095b" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.84 137"><defs><style>.b63fa610-30d0-4f78-933d-ca4097df9edb{fill:#f1f9fe;}.a5318204-c456-4af4-8ca2-e839ff5491bb,.b70e5307-1326-4715-9e13-d8fb09cf95e4{fill:none;stroke:#0b4476;stroke-miterlimit:10;}.b70e5307-1326-4715-9e13-d8fb09cf95e4{stroke-width:5.5px;}.a5318204-c456-4af4-8ca2-e839ff5491bb{stroke-width:5.2px;}</style></defs><rect class="b63fa610-30d0-4f78-933d-ca4097df9edb" width="167.84" height="137" rx="4"/><line class="b70e5307-1326-4715-9e13-d8fb09cf95e4" x1="83.92" y1="47.97" x2="83.92" y2="93.76"/><line class="a5318204-c456-4af4-8ca2-e839ff5491bb" x1="106.07" y1="70.87" x2="61.77" y2="70.87"/></svg><p class="content__imports-button-text">New</p></div>
      <div class="content__imports-button"><svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.84 137"><defs><style>.cls-1{fill:#f1f9fe;}.cls-2{fill:none;stroke:#0b4476;stroke-miterlimit:10;stroke-width:5px;}.cls-3{fill:#0b4476;}</style></defs><rect class="cls-1" width="167.84" height="137" rx="4"/><line class="cls-2" x1="68.42" y1="90.24" x2="99.42" y2="90.25"/><line class="cls-2" x1="83.86" y1="45.75" x2="83.96" y2="75.75"/><polyline class="cls-3" points="96.93 66.71 84.23 87.75 70.93 66.79"/></svg> <p class="content__imports-button-text">Import</p></div>
      <div class="content__imports-button"><svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.84 137"><defs><style>.cls-1{fill:#f1f9fe;}.cls-2{fill:none;stroke:#0b4476;stroke-miterlimit:10;stroke-width:5px;}.cls-3{fill:#0b4476;}</style></defs><rect class="cls-1" width="167.84" height="137" rx="4"/><line class="cls-2" x1="68.42" y1="90.24" x2="99.42" y2="90.25"/><line class="cls-2" x1="83.92" y1="88.75" x2="83.93" y2="58.75"/><polyline class="cls-3" points="70.93 67.74 83.7 46.75 96.93 67.75"/></svg><p class="content__imports-button-text">Export</p></div>
    </div>
    <div class="content__page">
      <div class="content__buttons">
        <div class="content__buttons-group-1">-group-1
          <select id="price" class="form-select form-select-sm">
            <option selected disabled>PRICE:</option>
            <option value="LOW FIRST">LOWEST FIRST</option>
            <option value="HIGH FIRST">HIGHEST FIRST</option>
          </select>
          <div class="content-icon content-icon-text"></div>
          <div class="content-icon content-icon-thumb"></div>
        </div>
        <div class="content__buttons-group-2">group-2
          <div class="content-icon content-icon-list"></div>
          <div class="content-icon content-icon-box"></div>
        </div>
      </div>
      <div class="content__projects">content__projects</div>
    </div>

  </div>
</div>
