<div class="big-container">
  <div class="banner">
    <p class="banner-title">Tutorials</p>
    <p>New here?<br/>
      Take our beginner course  «build a basic network»  to learn basics for network  building and simulation in  NetBuilder.</p>
    <p class="banner-link">Click here to start the tutorial</p>
  </div>

  <div class="content">content
    <div class="content__imports">content__imports
      <div class="content__imports-button">1</div>
      <div class="content__imports-button">2</div>
      <div class="content__imports-button">3</div>
    </div>

    <div class="content__page">content__page
      <div class="content__buttons">content__buttons</div>
      <div class="content__projects">content__projects</div>
    </div>

  </div>
</div>
