$bg-content-blue: #004378;
$b-light: #F0FAFF;
$b-light-project-item : #02548C;
$hover_item_b_light: #0071BC;

.big-container{
  height: 95.5%;
  //background-color: yellow;
}

.banner{
  font-family: myriad-pro-semi-condensed,sans-serif;
  font-style: italic;
  background-color: $bg-content-blue;
  width: 17%;
  height: 92%;
  margin: 2% 3% 2% 3%;
  padding: 3%;
  padding-top: 2.5%;


  &-title{
    font-family: myriad-pro-semi-condensed, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  &-link{
    //text-align: center;
  }
}

.big-container{
  display: flex;
  flex-direction: row;
}

.content{
  font-family: myriad-pro,sans-serif;
  //background-color: $bg-content-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 92%;
  margin-top: 2%;
  margin-right: 3%;

  &__imports{
    display: flex;
    flex-direction: row;
    background-color: $bg-content-blue;
    padding: 2%;
    height: 23%;
    &-button{
      width: 9%;
      margin-left: 3%;
      border-radius: 4px;
      transition-duration: 200ms;
      &:hover {
        //transform: scale(1.005);
        border: 1px solid #FFFF;
        background-color: $b-light;
        color: $bg-content-blue;
        box-shadow: 0 0 5px lighten($bg-content-blue, 80);
        cursor: pointer;
      }

      &-text{
        text-align: center;
        margin-top: 6px;
      }
    }
  }

  &__page{
    background-color: $bg-content-blue;
    height: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 1px solid red;
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    //justify-content: right;
    align-self: flex-end;
    //border: 1px solid red;
    margin: 32px;
    height: 29px;

    &-group-1{
      display: flex;
      flex-direction: row;
    }
    &-group-2{
      display: flex;
      flex-direction: row;
      margin-left: 8px;
    }
  }

  &-icon{
    margin-left: 16px;
    width: 32px;
    &:hover{
      cursor: pointer;
    }
  }

  &__projects{
    display: flex;
    flex-direction: column;
    width: 88.5%;
    height: 75%;
    margin: 5px;
    overflow: auto;
    //background-color: $b-light;

    &-title{
      font-family: MyriadPro-Bold, sans-serif;
      font-size: 1.1em;
    }

    &-exif{
     font-family: myriad-pro-semi-condensed, sans-serif;
    }

    &-description{
      font-family: myriad-pro-semiextended, sans-serif, sans-serif;
      color: $b_light;
      font-weight: bold;
      font-style: italic;
      width: 90%;
    }
  }
}

.pform-select {
  display: block;
  //width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  color: #FFFF;
  line-height: 1.5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.65rem center;
  background-size: 16px 12px;
  background-color: transparent;
  border: 0.1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  //transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &-sm {
    //color: red;
    padding-top: 0.12rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
  }
}

.item-list{
  //border: 1px solid red;
  background-color: $b-light-project-item;
  padding: 15px 15px 15px 20px;
  margin-bottom: 10px;
  &:hover{
    cursor: pointer;
  }

  &-normal{}
  &-drag{
    display: flex;
    flex-direction: row;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &-svg{
      align-self: center;
      width: 30px;
      margin-right: 20px;
      &:hover{
        cursor: grab;
      }
      &:active{
        cursor: grabbing;
      }
    }

    &-svg-description{
      align-self: start;
      min-width: 30px;
      margin-right: 20px;
      &:hover{
        cursor: grab;
      }
      &:active{
        cursor: grabbing;
      }
    }
  }

  &-thumb{
    width: 94%;
    //max-height: 25%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    margin-bottom: 20px;
    &-topo{
      align-self: start;
      width: 100%;
      margin-top: 10px;
      margin-right: 20px;
      overflow: hidden;
    }

    img{
      width: 100%;
    }
  }

  &-box-thumb{
    max-width: 45%;
    max-height: 35%;

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 25px;
    overflow: auto;
    //border: 1px solid red;

    &-topo{
      align-self: start;
      width: 100%;
      margin-top: 10px;
      margin-right: 20px;
      overflow: hidden;
    }

    img{
      width: 98%;
    }
  }

  &:hover{
    background-color: $hover_item_b_light;
  }
}

#item-list-box-thumb{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#item-list-box-thumb-text{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  //align-items: ;
}

.item-list-drag:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.drop-list.cdk-drop-list-dragging .item-list-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  background-color: $hover_item_b_light;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


