/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/svn1rut.css");

$b-color-light: #F0FAFF;
$white: #FFFF;
$b-light-project-item : #02548C;
$hover_item_b_light: #0071BC;

html, body{
  color: $white;
  height: 100%;
  background-color: $b-color-light;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.formLayout {
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  //height: 100vh;
}

.form {
  width: 400px;
  mat-form-field {
    display: block;
  }
  button {
    width: 100%;
    margin-top: 1rem;
  }
}

.form_2 {
  width: 200px;
  position: relative;
  right: 10px;
  top: -10px;
  mat-form-field {
    mat-label{
      color: $b-color-light;
      font-family: myriad-pro-semi-condensed, sans-serif;
    }

    input{
      color: $b-color-light;
      font-family: myriad-pro-semi-condensed, sans-serif;
    }
  }

}



.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 14px;
}


.backdropBackground{
  background-color: rgba(2, 84, 140, 0.23);
  backdrop-filter: blur(2px);
}

.item-list{
  //border: 1px solid red;
  background-color: $b-light-project-item;
  padding: 15px 15px 15px 20px;
  margin-bottom: 10px;
  &:hover{
    cursor: pointer;
  }

  &-normal{}
  &-drag{
    display: flex;
    flex-direction: row;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &-svg{
      align-self: center;
      width: 30px;
      margin-right: 20px;
      &:hover{
        cursor: grab;
      }
      &:active{
        cursor: grabbing;
      }
    }

    &-svg-description{
      align-self: start;
      min-width: 30px;
      margin-right: 20px;
      &:hover{
        cursor: grab;
      }
      &:active{
        cursor: grabbing;
      }
    }
  }

  &-thumb{
    width: 94%;
    //max-height: 25%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    margin-bottom: 20px;
    &-topo{
      align-self: start;
      width: 100%;
      margin-top: 10px;
      margin-right: 20px;
      overflow: hidden;
    }

    img{
      width: 100%;
    }
  }

  &-box-thumb{
    max-width: 45%;
    max-height: 35%;

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 25px;
    overflow: auto;
    //border: 1px solid red;

    &-topo{
      align-self: start;
      width: 100%;
      margin-top: 10px;
      margin-right: 20px;
      overflow: hidden;
    }

    img{
      width: 98%;
    }
  }

  &:hover{
    background-color: $hover_item_b_light;
  }
}
