$window-head-bgc: #003366;
$b-light: #F0FAFF;

.big-container{
 // background-color: yellow;
  height: 95.3%;
  width: 100%;
  min-width: 1200px;
  background-image: url("../../assets/topoGrid.svg");
  background-size: 100px;
}

.big-container-grid-off{
  // background-color: yellow;
  height: 95.3%;
  width: 100%;
  min-width: 1200px;
}

.zoom{
  //display: flex;
  //flex-direction: column;
  text-align: center;
  width: 56px;
  height: 50px;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 43px;
  border-radius: 2.5px;
  box-shadow: 0 0 5px rgba(37, 97, 172, 0.5);
  overflow: hidden;
  transition: height 150ms ease-out;
  //transition-duration: 300ms;

  &_value{
    display: inline-block;
    font-family: MyriadPro-Bold, sans-serif;
    color: #003366;
    height: 30px;
    width: 30px;
    margin-top: 15px;
  }

  &:hover{
    height: 155px;
  }
}

#e275f7ff-482a-49e5-ad42-63e87463efff, #b5b7229d-cd5f-4a4b-a077-d77d6097b992, #ac98cc0d-354b-4afd-a30c-6920b966b992, #a056e68b-d5de-4ef7-b8ad-f3befbaf0fb9{
  border-radius: 2.5px;
  width: 30px;
  height: 30px;
  &:hover{
    background-color: rgba(182, 192, 206, 0.3);
  }
}

.windows-container{
  //border: 1px solid red;
  font-family: "Myriad Pro", sans-serif;
  width: 100%;
  position: absolute;
  bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.mini-windows{
  //border: 1px solid blue;
  margin-left: 5px;
  border-radius: 2.5px;
  box-shadow: 0 0 5px rgba(37, 97, 172, 0.6);
  overflow: hidden;
  transition: height 150ms ease-out;
  width: 395px;
  height: 29px;
  background-color: #FFFFFF;

  &-head{
    background-color: $window-head-bgc;
    color: $b-light;
    width: 100%;
    height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-group1{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-text{
      margin-top: 2px;
      margin-left: 2px;
    }
  }

  &-devices{
  min-width: 320px;
    &--content{
      //border: 1px solid blue;
      display: flex;
      flex-flow: row wrap;
      color: black;

      &--icon-box{
        margin: 15px 15px 0;
      }
      &_icon{
        width: 50px;
      }

    }
  }

  &-cli{
    width: 796px;
    min-width: 500px;
  }

  &-config{
    min-width: 320px;
  }
}

#w-grip{
  width: 14px;
  margin-right: 5px;
  margin-left: 7px;
}

.w-minimize{
  width: 14px;
  margin-right: 7px;

  :hover{
    cursor: pointer;
  }
}

.w-minimize__rotated{
  width: 14px;
  margin-right: 7px;
  transform: rotate(-180deg);
  :hover{
    cursor: pointer;
  }
}



p.device-name{
  text-align: center;
}
